<!doctype html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %} | ATLFoodFinder</title>
    </head>

    <body>

        <nav class="header">
            <a href="/" class="header-button" id="main-button">ATLFoodFinder</a>
            <a href="/contact" id="contact-us">Contact Us</a>
            <div id="side-buttons">

            </div>
        </nav>

        <div>

        </div>
{#
        <div id="title">
            {% block content %}
            {% endblock %}
        </div>


    </body>
</html>