{% extends 'core/base.html' %}

{% block content %}
    <form method="POST" class="auth-form">
        {% csrf_token %}
        <h1>Sign in</h1>
        <br>

        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control" required />
            <label class="form-label" for="email">Email address</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control" required />
            <label class="form-label" for="password">Password</label>
        </div>

        <!-- Remember me checkbox -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="remember" />
                    <label class="form-check-label" for="remember"> Remember me </label>
                </div>
            </div>

            <div class="col">
                <a href="#!">Forgot password?</a>
            </div>
        </div>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign In</button>

        <!-- Register button -->
        <div class="text-center">
            <p>Not a member? <a href="{% url 'register' %}">Register</a></p>
        </div>
    </form>
{% endblock %}