{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <div class="wrap-grid">

    {% for image, id in combined %}
        <div class="wrap-itewm">
            <a href="{% url 'wrapped_page' wrap_id=id %}" class="wrap-link">
                <div class="wrap-thumbnail">
                    <img src="{{ image }}" alt="Wrap {{ image.id }}" style="width: 100%">
{#                    <div class="wrap-info">#}
{#                        <div>Wrap {{ forloop.counter }}</div>#}
{#                        <div class="wrap-actions">#}
{#                            <button class="share-btn">#}
{#                                <i class="fas fa-share-alt"></i>#}
{#                                <span>Share</span>#}
{#                            </button>#}
{#                            <button class="delete-btn">#}
{#                                <i class="fas fa-trash"></i>#}
{#                                <span>Delete</span>#}
{#                            </button>#}
{#                        </div>#}
{#                   </div>#}
               </div>
           </a>
       </div>
    {% endfor %}
    </div>
{% endblock %}